@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";
:root {
  --animate-pulse: pulse 2s cubic-bezier(1, -0.1, 0, 1.21) infinite;
}

html,
body {
  overflow-x: hidden;
  font-family: "Geist", sans-serif;
}
h2,
h3 {
  font-family: "Anton", sans-serif;
}

/* Header Section */
#toggler-btn.tilted .toggle-line1 {
  transition: all 0.3s ease-in-out;
  transform: rotate(45deg) translate(6px, 6px);
}
#toggler-btn.tilted .toggle-line2 {
  transition: all 0.3s ease-in-out;
  transform: rotate(-45deg) translate(-4px, -6px);
}
/* Banner Section */

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
/* Social list */

/* Auto scroll */
.auto-scroll {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 11%,
    rgb(0, 0, 0) 23.5%,
    rgb(0, 0, 0) 36.5%,
    rgba(0, 0, 0, 0) 90%
  );
}
.auto-scroll:hover > .auto-scroll-itms {
  cursor: pointer;
  animation-play-state: paused;
}
.auto-scroll-itms {
  animation: rightTOLeft 16s linear infinite;
}
.auto-scroll-itms:nth-child(1) {
  animation-delay: -0s;
}
.auto-scroll-itms:nth-child(2) {
  animation-delay: -2s;
}
.auto-scroll-itms:nth-child(3) {
  animation-delay: -4s;
}
.auto-scroll-itms:nth-child(4) {
  animation-delay: -6s;
}
.auto-scroll-itms:nth-child(5) {
  animation-delay: -8s;
}
.auto-scroll-itms:nth-child(6) {
  animation-delay: -10s;
}
.auto-scroll-itms:nth-child(7) {
  animation-delay: -12s;
}
.auto-scroll-itms:nth-child(8) {
  animation-delay: -14s;
}
/* About Section */

@keyframes rightTOLeft {
  0% {
    right: -4%;
  }
  100% {
    right: 100%;
  }
}
@media screen and (max-width: 1400px) {
  @keyframes rightTOLeft {
    0% {
      right: -20%;
    }

    100% {
      right: 100%;
    }
  }
}
@media screen and (max-width: 1024px) {
  @keyframes rightTOLeft {
    0% {
      right: -16%;
    }

    100% {
      right: 100%;
    }
  }
}
@media screen and (max-width: 992px) {
  /* Auto Scroll Section */
  .auto-scroll {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 7%,
      rgb(0, 0, 0) 23.5%,
      rgb(0, 0, 0) 36.5%,
      rgba(0, 0, 0, 0) 93%
    );
  }
  @keyframes rightTOLeft {
    0% {
      right: -50%;
    }

    100% {
      right: 100%;
    }
  }
}
@media screen and (max-width: 768px) {
  @keyframes rightTOLeft {
    0% {
      right: -86%;
    }

    100% {
      right: 100%;
    }
  }
}
@media screen and (max-width: 640px) {
  @keyframes rightTOLeft {
    0% {
      right: -100%;
    }

    100% {
      right: 100%;
    }
  }
}
@media screen and (max-width: 400px) {
  /* Header Section */
  .navbar-collapsed {
    width: 310px;
  }
  .nav-btn > a {
    font-size: 26px;
    padding: 16px;
  }
  /* Banner Section */
  .bnnr-right {
    margin-top: -80px;
  }
  /* Autoscroll Section */
  @keyframes rightTOLeft {
    0% {
      right: -170%;
    }

    100% {
      right: 100%;
    }
  }
  /* About Section */
  .about-hdr > .title2::after {
    left: 83%;
    top: 62%;
  }
  .about-cntn {
    font-size: 17px;
    line-height: 126%;
  }
  /* Project Section */
  .Project-hdr > .title2::after {
    left: 94%;
  }
  .count {
    left: 95%;
  }
}
