@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";
html,
body {
  overflow-x: hidden;
  font-family: "Fira Code", monospace;
}
/* Auto scroll */
.auto-scroll:hover > .auto-scroll-itms {
  cursor: pointer;
  animation-play-state: paused;
}
.auto-scroll-itms {
  animation: rightTOLeft 14s linear infinite;
}
.auto-scroll-itms:nth-child(1) {
  animation-delay: -0s;
}
.auto-scroll-itms:nth-child(2) {
  animation-delay: -2s;
}
.auto-scroll-itms:nth-child(3) {
  animation-delay: -4s;
}
.auto-scroll-itms:nth-child(4) {
  animation-delay: -6s;
}
.auto-scroll-itms:nth-child(5) {
  animation-delay: -8s;
}
.auto-scroll-itms:nth-child(6) {
  animation-delay: -10s;
}
.auto-scroll-itms:nth-child(7) {
  animation-delay: -12s;
}

@keyframes rightTOLeft {
  0% {
    right: -5%;
  }
  100% {
    right: 100%;
  }
}
@media screen and (max-width: 1024px) {
  @keyframes rightTOLeft {
    0% {
      right: -16%;
    }

    100% {
      right: 100%;
    }
  }
}
@media screen and (max-width: 640px) {
  @keyframes rightTOLeft {
    0% {
      right: -40%;
    }

    100% {
      right: 100%;
    }
  }
}
